body{
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	line-height: normal;
}

*,*:before,*:after{
	box-sizing: border-box;
}

.header{
	background: rgba(213,215,217,55%);
	width: 100%;
	padding: 0 90px 0 90px;
	position:absolute;
	top: 0;
	left: 0;
	right: 0;

	z-index: 1000;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.photo_background{
	width: 100%;
	height: 100vh;
	background: url(../img/road.jpg) center no-repeat;
	background-size: cover;
	
}

.img_logo{
	max-width: 100%;
	height: 100px;
	width: 100px;
}
.wrapper_burger{
	display: none;
}
.search_string{
	padding: 0;
	position: absolute;
	display: flex;
	top: 300px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 

}

.textFrom{
	padding:10px;
	background: #E3E3E3;
	border: 1px solid #797171;
	
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 180px;
	height: 55px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.textPass{
	padding:10px;
	background: #E3E3E3;
	border: 1px solid #797171;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	
	width: 180px;
	height: 55px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.text2{
	padding:10px;
	background: #E3E3E3;
	border: 1px solid #797171;
	width: 180px;
	height: 55px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.search_btn{
	margin-left: 10px;
	width: 180px;
	height: 55px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #000000;

	background: #45ACE5;
	border: 1px solid #797171;
	border-radius: 20px;
}
.photo_background{
	width: 100%;
	height: 100vh;
	background: url(../img/road.jpg) center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}

.nav_link{
	margin-left: 30px;
	font-size: 18px ;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;

	transition: color 0.2s linear;
}


.nav_link:hover{
	color: #fff;
}

.footer{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 200px;


	background: rgba(121, 113, 113,65);
}

.home_about,.g_contact{
	margin-top: 35px;
}

.icon{
	width: 750px;
	display: flex;
	justify-content: space-around;
}

.icon_social{
	margin-top: 60px;
	width: 75px;
	height: 73px;
	
}
.icon_dow{
	

	border-radius: 20px;
	margin-top: 60px;

	width: 269px;
	height: 73px;
}
@media all and (max-width: 940px){

	.header{
		background: rgba(213,215,217,55%);
		width: 100%;
		padding: 0 10px 0 10px;
		position:absolute;
		top: 0;
		left: 0;
		right: 0;

		z-index: 1000;
	}

	.nav{
		display: none;
	}

	.footer{
		display: flex;
		flex-direction: column;

		width: 100%;
		height: 480px;


		background: rgba(121, 113, 113,65);
	}

	.home_about,.g_contact{
		margin-top: 0px;
		margin-left:15px ;

	}


	.icon{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.icon_social{
		margin-left:15px ;
		margin-top: 15px;
		width: 40px;
		height: 40px;

	}
	.icon_dow{

		margin-top: 15px;
		margin-left:15px ;
		border-radius: 20px;

		width: 139px;
		height: 39px;
	}

	.search_string{
		padding: 0;
		display: flex;
		flex-direction: column;
		top: 300px;
		left: 50%;
		width: 80%;
		
		transform: translate(-50%, -50%) 

	}

	.search_btn{
		margin-left: 0px;

		margin-top: 10px;


		width: 100%;
		height: 39px;

		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 29px;
		color: #000000;

		background: #45ACE5;
		border: 1px solid #797171;
		border-radius: 20px;
	}

	.textFrom{
		background: #D9D9D9;
		
		border-radius: 20px 20px 0px 0px;
		width: 100%;
		height: 44px;

		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;

		color: #000000;

	}

	.textPass{
		background: #D9D9D9;

		width: 100%;
		height: 44px;

		border-radius: 0px 0px 20px 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;

		color: #000000;

	}

	.text2{
		background: #D9D9D9;
		

		width: 100%;
		height: 44px;


		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;

		color: #000000;

	}

	.wrapper_burger{

		width: 50px;
		color: white;
		text-align: center;
		height: 45px;
		font-family: 'Arial';
		cursor: pointer;
		display: block;
	}


	#check-menu{
		display: none;
	}

	label{
		display: block;
		top: 0;
		left: 20px;
		width: 50px;
		height: 100%;
		cursor: pointer;
		line-height: 85px;
	}


	.burger-line{
		position: absolute;
		top: 32px;	
		width: 50px;
		height: 4px;
		background-color: #000;
	}

	.second, .third{
		top: 44px;

	}

	.fourth{
		top: 56px;
	}

	.main-menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 39%;
		transform: translateY(100%);
		max-height: 0;
		font-size: 0;
		overflow: hidden;
		transition: .5s all;
	}

	.navigation{
		display: block;
		width: 80%;
		padding: 20px;
		color: black;
		text-decoration: none;
		border-top: 1px solid #000;
		background-color: #f9f9f9;
	}
	.navigation:hover{
		color: fuchsia;
	}

	#check-menu:checked ~ .main-menu{
		width: 80%;
		max-height: 800px;
		font-size: 16px;

	}

	#check-menu:checked ~ .first{
		display: none;
	}

	#check-menu:checked ~ .second{
		transform: rotate(45deg);
	}

	#check-menu:checked ~ .third{
		transform: rotate(-45deg);
	}

	#check-menu:checked ~ .fourth{
		display: none;
	}
}